
<h2> <%= "#{@shelter.name}'s Available Pets" %> </h2>
<% @pets.each do |pet| %>
  <% if pet.shelter_id == @shelter.id %>
  <hr/>
    <%= image_tag(pet.image, alt: "pet picture", method: :get, class: 'pet-image') %>
    <p> Name: <%= link_to "#{pet.name}", "/pets/#{pet.id}" %> </p>
    <p> Description: <%= pet.description %> </p>
    <p> Aproximate Age: <%= pet.approximate_age %> </p>
    <p> Sex: <%= pet.sex %> </p>
    <p> Shelter: <%= link_to pet.shelter.name, "/shelters/#{pet.shelter.id}" %></p>
    <p> Adopt Status: <%= pet.status %> </p>
    <p><%= link_to "Delete Pet", "/pets/#{pet.id}", method: :delete %></p>
  <% end %>
<% end %>
<hr/>
<p><%= link_to "Create Pet", "/shelters/#{@shelter.id}/pets/new" %></p>

