
<h2><%= @shelter.name %></h2>
<hr/>
<p><%= link_to "Pets Page", "/shelters/#{@shelter.id}/pets" %></p>
<p>Available Pets: <%= @shelter.pets.count %></p>
<p>Average Review Rating: <%= ShelterReview.average(@shelter_reviews) %> </p>
<p>Number of Applications on File: <%=@shelter.applications_total%> </p>
<p>Address: <%= @shelter.address %></p>
<p>City: <%= @shelter.city %></p>
<p>State: <%= @shelter.state %></p>
<p>Zip: <%= @shelter.zip %></p>

<p><%= link_to "Update Shelter", "/shelters/#{@shelter.id}/edit" %></p>
<p><%= link_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete %></p>
<p><%= link_to "New Review", "/shelters/#{@shelter.id}/reviews/new" %></p>

<h3><%= @shelter.name %> Reviews</h3>
<% @shelter_reviews.each do |shelter_review| %>
  <h4><%= shelter_review.title %></h4>
  <p>Rating: <%= shelter_review.rating %>/5</p>
  <p><%= shelter_review.content %></p>
  <% if !shelter_review.picture.empty? %>
    <%= image_tag(shelter_review.picture, alt: "Photo for '#{shelter_review.title}' review", size: "300") %>
  <% end %>
  <p><%= link_to "Edit Review", "/shelters/#{@shelter.id}/reviews/#{shelter_review.id}/edit" %></p>
  <p><%= link_to "Delete Review", "/shelters/#{@shelter.id}/reviews/#{shelter_review.id}", method: :delete %></p>
<% end %>
