<p><%= link_to "Shelter Index", "/shelters" %>
<br>
<%= link_to "Pet Index", "/pets" %></p>
<hr/>
<h2><%= @shelter.name %></h2>
<hr/>
<p><%= link_to "Pets Page", "/shelters/#{@shelter.id}/pets" %></p>
<p>Available Pets: <%= @shelter.pets.count %></p>
<p>Address: <%= @shelter.address %></p>
<p>City: <%= @shelter.city %></p>
<p>State: <%= @shelter.state %></p>
<p>Zip: <%= @shelter.zip %></p>

<p><%= link_to "Update Shelter", "/shelters/#{@shelter.id}/edit" %></p>
<p><%= link_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete%></p>