<h2><%= @adoption_application.name %>'s application:</h2>
<p>Address: <%= @adoption_application.address %></p>
<p>City: <%= @adoption_application.city %></p>
<p>State: <%= @adoption_application.state %></p>
<p>Zip: <%= @adoption_application.zip %></p>
<p>Phone Number: <%= @adoption_application.phone_number %></p>
<p>Why: <%= @adoption_application.description %></p>
<p>Pets applied for:</p>
<ul>
  <% @adoption_application.pet_adoption_applications.each do |app| %>
    <li> <%= app.pet.name %> </li>
    <% if app.pet.adoptable? %>
      <%= button_to "Approve application for #{app.pet.name}", "/pets/#{app.pet.id}/pet_adoption_applications/#{app.id}", method: :patch %>
    <% elsif app.status == "Approved" %>
      <%= button_to "Revoke application for #{app.pet.name}", "/pets/#{app.pet.id}/pet_adoption_applications/#{app.id}", method: :patch %>
    <% else %>
      <p><%= app.pet.name %>'s adoption is pending.</p>
    <% end %>
  <% end %>
</ul>
