<h2><%= @adoption_application.name %>'s application:</h2>
<p>Address: <%= @adoption_application.address %></p>
<p>City: <%= @adoption_application.city %></p>
<p>State: <%= @adoption_application.state %></p>
<p>Zip: <%= @adoption_application.zip %></p>
<p>Phone Number: <%= @adoption_application.phone_number %></p>
<p>Why: <%= @adoption_application.description %></p>
<p>Adoption applicant(s):</p>
<ul>
  <% @adoption_application.pets.each do |pet| %>
    <li><%= pet.name %></li>
    <% if pet.adoptable? %>
      <%= button_to "Approve application for #{pet.name}", "/pets/#{pet.id}/adoption_applications/#{@adoption_application.id}", method: :patch %>
    <% else %>
      <p><%= pet.name %>'s adoption has been approved for another applicant.</p>
    <% end %>
  <% end %>
</ul>
