<h2>Favorited Pets</h2>

<% if @favorites.map(&:to_i).empty? %>
  <h1>No pets to see here. Explore pets <%= link_to "here", "/pets" %> and select some of your favorites!</h1>
<% else %>
  <%= button_to "Apply to adopt your favorite pets", "/adoption_applications/new", method: :get %> <br>
  <%= button_to "Remove All Pets From Favorites", "/favorites", method: :delete %>
  <% @pets.each do |pet| %>
    <% if @favorites.map(&:to_i).include?(pet.id) %>
      <h1> Name: <%= pet.name %> </h1>
      <%= image_tag(pet.image, alt: "pet picture", method: :get, class: 'pet-image') %>
      <%= button_to "Remove Pet From Favorites", "/favorites/#{pet.id}", method: :delete %>
    <% end %>
  <% end %>
<% end %>
