<p><%= link_to "Shelter Index", "/shelters" %>
<br>
<%= link_to "Pet Index", "/pets" %></p>
<hr/>
<h2> Update Pet </h2>
<hr/>
<%= form_tag "/pets/#{@pet.id}", method: :patch do %>
  <p><%= label_tag :name %>
  <%= text_field_tag :name, @pet.name %></p>
  <p><%= label_tag :image %>
  <%= text_field_tag :image, @pet.image %></p>
  <p><%= label_tag :description %>
  <%= text_field_tag :description, @pet.description %></p>
  <p><%= label_tag :approximate_age %>
  <%= text_field_tag :approximate_age, @pet.approximate_age %></p>
  <p><%= label_tag :sex %>
  <%= text_field_tag :sex, @pet.sex %></p>
  <p><%= label_tag :status %>
  <%= text_field_tag :status, @pet.status %></p>
  <p><%= submit_tag "Update Pet" %></p>
<% end %>