<%= link_to "Shelter Index", "/shelters" %>
</br>
<%= link_to "Pet Index", "/pets" %>
</br>
<h2>Pets Needing a Home</h2>

<% @pets.each do |pet| %>
  <%= image_tag(pet.image, alt: "pet picture", method: :get, class: 'pet-image') %>
  <p> Name: <%= link_to "#{pet.name}", "/pets/#{pet.id}" %> </p>
  <p> Description: <%= pet.description %> </p>
  <p> Aproximate Age: <%= pet.approximate_age %> </p>
  <p> Sex: <%= pet.sex %> </p>
  <p> Adopt Status: <%= pet.status %> </p>
  <%= link_to "Edit Information", "/pets/#{pet.id}/edit" %>
  </br>
  <%= link_to "Delete Pet", "/pets/#{pet.id}", method: :delete %>
  </br>
<% end %>

<%= link_to "New Shelter", "/shelters/new" %>
