
<%= image_tag(@pet.image, alt: "pet picture", method: :get, class: 'pet-image') %>
<p> Name: <%= @pet.name %> </p>
<p> Description: <%= @pet.description %> </p>
<p> Aproximate Age: <%= @pet.approximate_age %> </p>
<p> Sex: <%= @pet.sex %> </p>
<p> Adoption Status: <%= @pet.status %> </p>

<% if @pet.pending? %>
  <p>On hold for <%= @adoption_application.name %></p>
<% end %>

<% if @favorites.include?(@pet.id.to_s) %>
  <p><%= button_to "Remove Pet From Favorites", "/favorites/#{@pet.id}", method: :delete %></p>
<% else %>
  <p><%= button_to "Favorite", "/favorites/#{@pet.id}", method: :patch %></p>
<% end %>

<p><%= link_to "Update Pet", "/pets/#{@pet.id}/edit" %></p>
<p><%= link_to "Delete Pet", "/pets/#{@pet.id}", method: :delete %></p>
<p><%= link_to "View all applications for #{@pet.name}", "/pets/#{@pet.id}/adoption_applications" %></p>
